body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.board {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.note {
  float: left;
  width: calc(33.333% - 2rem);
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background-color: rgb(204, 255, 204);
  margin:1rem;
  position:relative;
}

.note-text {
  font-size: 85%;
  max-height: 300px;
  overflow-y:auto;
}
.note-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 2rem 1rem 0;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

